<!doctype html>
<html>
<head>
  <title><%= page_title %> | Site Title</title>

  <!-- so:meta-->
  <meta charset="utf-8">
  <meta name="robots" content="all" />
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--  Mobile viewport optimized: j.mp/bplateviewport -->
  
  <meta name="description" content="<%=h page_description %>" />
  <meta name="keywords" content="<%=h page_keywords %>" />
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="en" />
  
  <meta name="author" content="Site Title" />
  <meta name="copyright" content="<%= Time.now.year %>, Site Title" />
  
  <meta name="Geo.Country" content="GB" />
  <meta name="Geo.Region" content="GB-BST" />
  
  <%= csrf_meta_tag %>  
  <!-- eo:meta-->
  
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- so:stlesheets -->
  <!--[if ! lte IE 6]><!-->
    <%= stylesheet_link_tag 'reset', 'typography', 'skin', 'layout', 'forms', 'jquery.fancybox-1.3.4', :media => 'screen,tv,projection' %> <%# not on heroku, :cache => "screen" %>
    
    <!--[if lte IE 9]><link href="/stylesheets/ie9.css" media="screen" rel="Stylesheet" type="text/css" /><![endif]-->
    <!--[if lte IE 8]><link href="/stylesheets/ie8.css" media="screen" rel="Stylesheet" type="text/css" /><![endif]-->
    <!--[if lte IE 7]><link href="/stylesheets/ie7.css" media="screen" rel="Stylesheet" type="text/css" /><![endif]-->
  <!--<![endif]-->
  <!--[if lte IE 6]>
    <link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
  <![endif]-->
  <!-- eo:stlesheets -->

  <!-- so:header JS -->
  <script src="/javascripts/libs/modernizr-1.6.min.js"></script>
  <!-- eo:header JS -->
</head>

<body>
  <a class="skip" href="#main-content" title="Skip to Main Content">Skip to Main Content</a>
  <div id="header"></div>
  <div class="nav">
      <h2 class="hidden">Main Navigation</h2>
      <ul>
        <li></li>
      </ul>
  </div>
  <div id="content">
    <%= flash_messages %>
    <%= yield %>
  </div>
  <div id="footer"></div>
<!-- so:JavaScripts -->
  <!-- libraries  -->
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
    google.load("jquery", "1.4");
    google.load("swfobject", "2.2");
  </script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="javascripts/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script><!-- Local jquery if google fails -->
  <%= javascript_include_tag 'libs/cufon-yui', 'libs/jcarousellite_1.0.1.min', 'libs/jquery.fancybox-1.3.4', 'libs/slides.jquery', 'font', 'application' %>
<!-- so:JavaScripts -->
</body>
</html>