<div id="main-content">
  <%= component(@node, 'hero_slot_0') %>
  <h1><%=h @node.title %></h1>
  <%= link_to "RSS", node_path(@node, :rss), :title => "RSS Feed", :class => "rss" %>
  <div id="body">
    <h1><%=h @node.title %></h1>
    <p class="meta">
      Posted on: <span class="date"><%= l @node.published_at, :format => :short_dot %></span>
      <% unless @node == @node.parent %>
        <span class="category">Category: <%= link_to h( @node.parent.title ), node_path(@node.parent) %></span>
      <% end -%>
    </p>
    <%= @node.body.html_safe %>
  </div>
  <%= component(@node, 'wide_slot_0') %>
  <%= component(@node, 'wide_slot_1') %>
  <%= component(@node, 'wide_slot_2') %>
</div>

<div id="supporting-content">
  <h2 class="hidden">Supporting Content</h2>
  <h3 class="hidden">Sub Navigation</h3>
  <%= render 'shared/tree_nav' %>
</div>

<div id="supplementary-content">
  <h2 class="hidden">Supplementary Content</h2>
</div>